{% extends "base.html" %} {% block head %}
<title>About Triple Crown for Heart</title>
{% endblock head %} {% block content %}

<h3>Welcome to Proffer donation site!</h3>
<p>
    The <a href="https://triplecrownforheart.ca/">Proffer</a> Proffer is a crowd-funding website. Proffer is designed for organizations as well as individuals looking for funding from the general public. Through this website, the organization can upload
    the details of campaigns like duration, date, venue, goals, and objectives. The donors can also choose from the campaigns that interest them and pledge to donate a certain sum of money to make the campaign successful. Donors can also keep track of
    their donations. Through proffer, donors can gain a sense of fulfillment, and organizations gain funding. </p>

v1.1.2 {% endblock content %}offer